/* @license GNU-GPL-2.0-or-later https://www.drupal.org/licensing/faq */
div.webform-html-editor-default-filter-format.form-item,div.webform-html-editor-default-filter-format .form-item{margin:0;}div.webform-html-editor-default-filter-format > .filter-wrapper,div.webform-html-editor-default-filter-format .cke_bottom{display:none;}
.ck-button:not(.ck-disabled) .ck-icon *{opacity:1 !important;fill-opacity:1 !important;}.ck-editor__main > :is(.ck-editor__editable,.ck-source-editing-area){min-height:var(--ck-min-height);max-height:calc(100vh - var(--drupal-displace-offset-top,0px) - var(--drupal-displace-offset-bottom,0px) - 20px);}.ck-editor__main > .ck-source-editing-area textarea{overflow:auto;}
