/* @license GNU-GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.webform-message .messages.messages--webform{min-height:20px;padding-left:56px;color:#000;border-color:#a6a6a6 #a6a6a6 #a6a6a6 transparent;background:#e0e0d8 url(/scste-drupal-new/modules/contrib/webform/images/logo/webform_icon_36.png) 10px center no-repeat;background-size:auto;box-shadow:-8px 0 0 #a6a6a6;}[dir="rtl"] .webform-message .messages.messages--webform{margin-left:0;padding-right:56px;border-color:#a6a6a6 transparent #a6a6a6 #a6a6a6;box-shadow:8px 0 0 #a6a6a6;}
.block-help{margin:1em 0;}.webform-help .button.button--primary{width:100%;max-width:600px;margin:0;}.webform-help img{width:100%;height:auto;}.webform-help .webform-help-video-youtube{max-width:600px;}.button.button-webform-play:before{content:"► ";font-size:0.8em;}.webform-help-video-youtube{max-width:1024px;margin:1em 0 0.2em 0;border:1px solid #000;}.webform-help-video-youtube--container{position:relative;overflow:hidden;height:0;padding-top:30px;padding-bottom:56.25%;}.webform-help-video-youtube iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0;}.webform-help-links{margin-left:0;}
