/* @license MIT https://raw.githubusercontent.com/necolas/normalize.css/8.0.1/LICENSE.md */
html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em 0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}fieldset{padding:0.35em 0.75em 0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}
/* @license GNU-GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;-ms-filter:"alpha(opacity=0)";}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default;}
.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:0;}.ui-menu .ui-menu{position:absolute;}.ui-menu .ui-menu-item{margin:0;cursor:pointer;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");}.ui-menu .ui-menu-item-wrapper{position:relative;padding:3px 1em 3px .4em;}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0;}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px;}.ui-menu-icons{position:relative;}.ui-menu-icons .ui-menu-item-wrapper{padding-left:2em;}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0;}.ui-menu .ui-menu-icon{left:auto;right:0;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/scste-drupal-new/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/scste-drupal-new/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/scste-drupal-new/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/scste-drupal-new/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/scste-drupal-new/core/misc/tree.png) no-repeat -11px center;}
.ajax-progress{display:inline-block;}.ajax-progress-bar{width:13em;padding:0 0.3125rem;}.ajax-progress--throbber{position:relative;display:inline-flex;align-content:center;height:1.125rem;margin:-0.1875rem var(--ajax-progress-margin-horizontal) 0;vertical-align:middle;white-space:nowrap;line-height:1.125rem;}.js .button:not(.js-hide) + .ajax-progress--throbber{margin-inline-start:0;}.js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,.js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber{margin-inline-start:var(--ajax-progress-margin-horizontal);}.ajax-progress__throbber{box-sizing:border-box;width:1.125rem;height:1.125rem;animation:claro-throbber 0.75s linear infinite;border:2px solid var(--color-absolutezero);border-right:2px dotted transparent;border-radius:50%;}.ajax-progress__message{display:inline-block;padding-inline-start:var(--ajax-progress-margin-horizontal);font-size:var(--font-size-label);}.ajax-progress--fullscreen,.ui-dialog .ajax-progress--throbber{position:fixed;z-index:1261;inset-block-start:50%;inset-inline-start:50%;box-sizing:border-box;width:3.5rem;height:3.5rem;margin:-1.75rem;border:var(--input-border-size) solid var(--jui-dropdown-border-color);border-radius:3.5rem;background:var(--color-white);box-shadow:0 0.25rem 0.625rem var(--jui-dropdown-shadow-color);}.ajax-progress__throbber--fullscreen,.ui-dialog .ajax-progress__throbber{position:absolute;inset-block-start:50%;inset-inline-start:50%;width:1.75rem;height:1.75rem;margin:-0.875rem;content:"";border:3px solid var(--color-absolutezero);border-right:3px dotted transparent;}.ui-dialog .ajax-progress__message{display:none;}@keyframes claro-throbber{0%{transform:rotateZ(0);}100%{transform:rotateZ(360deg);}}
.js .form-autocomplete{background-image:url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1C3.46.827-.188 5.787 1.313 10.068c1.176 4.384 6.993 6.417 10.637 3.7.326-.39.565.276.846.442l3.74 3.739 1.413-1.414-4.35-4.35c2.811-3.468 1.15-9.247-3.062-10.71A7.003 7.003 0 008 1zm0 2c3.242-.123 5.849 3.42 4.777 6.477-.842 3.132-4.994 4.58-7.6 2.65-2.745-1.73-2.9-6.125-.285-8.044A5.006 5.006 0 018 3z' fill='%23868686'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:100% 50%;}.js[dir="rtl"] .form-autocomplete{background-image:url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1c4.54-.173 8.188 4.787 6.687 9.068-1.176 4.384-6.993 6.417-10.637 3.7-.326-.39-.565.276-.846.442l-3.74 3.739-1.413-1.414 4.35-4.35C3.59 8.717 5.25 2.938 9.462 1.475A7.003 7.003 0 0112 1zm0 2c-3.242-.123-5.849 3.42-4.777 6.477.842 3.132 4.994 4.58 7.6 2.65 2.745-1.73 2.9-6.125.285-8.044A5.006 5.006 0 0012 3z' fill='%23868686'/%3e%3c/svg%3e");background-position:0 50%;}.js .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3e%3cstyle%3e%40keyframes s%7b0%25%7btransform:rotate(0deg) translate(-50%25,0)%7d50%25%7btransform:rotate(430deg) translate(-50%25,0);stroke-dashoffset:20%7dto%7btransform:rotate(720deg) translate(-50%25,0)%7d%7d%3c/style%3e%3ccircle fill='none' cy='5' cx='5' stroke='%23003ecc' stroke-dashoffset='6.125' stroke-dasharray='25' style='animation:s 1s linear infinite;transform-origin:left' r='4'/%3e%3c/svg%3e");background-position:center right -10px;}.js[dir="rtl"] .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3e%3cstyle%3e%40keyframes s%7b0%25%7btransform:rotate(0deg) translate(-50%25,0)%7d50%25%7btransform:rotate(-430deg) translate(-50%25,0);stroke-dashoffset:20%7dto%7btransform:rotate(-720deg) translate(-50%25,0)%7d%7d%3c/style%3e%3ccircle fill='none' cy='5' cx='5' stroke='%23003ecc' stroke-dashoffset='6.125' stroke-dasharray='25' style='animation:s 1s linear infinite;transform-origin:left' r='4'/%3e%3c/svg%3e");background-position:center left 10px;}.claro-autocomplete{position:relative;display:inline-block;max-width:100%;}.claro-autocomplete__message{position:absolute;right:0;bottom:100%;max-width:100%;margin-bottom:0.15rem;color:var(--color-link);font-size:var(--font-size-xxs);font-weight:bold;line-height:calc(18rem / 16);}[dir="rtl"] .claro-autocomplete__message{right:auto;left:0;}
:root{--table-row--dragging-bg-color:#fe7;--table-row--last-dragged-bg-color:#ffb;}body.drag{cursor:move;}.region-title{font-weight:bold;}.region-message{color:var(--color-gray-600);}.region-message.region-populated{display:none;}.tabledrag-changed.tabledrag-changed{border-bottom:none;}.add-new .tabledrag-changed{display:none;}.draggable .tabledrag-changed{position:relative;left:calc(var(--space-xs) * -1);}[dir="rtl"] .draggable .tabledrag-changed{right:calc(var(--space-xs) * -1);left:auto;}.tabledrag-cell--only-drag .tabledrag-changed{width:var(--space-l);min-width:var(--space-l);}.draggable.drag,.draggable.drag:focus{background-color:var(--table-row--dragging-bg-color);}.draggable.drag-previous{background-color:var(--table-row--last-dragged-bg-color);}.draggable-table td:first-child ~ td,.draggable-table th:first-child ~ th{padding-left:0;}[dir="rtl"] .draggable-table td:first-child ~ td,[dir="rtl"] .draggable-table th:first-child ~ th{padding-right:0;padding-left:var(--space-m);}.draggable td .form-element--type-select[name$="][_weight]"],.draggable td .term-weight,.draggable td .field-weight{width:auto;}.tabledrag-handle{position:relative;z-index:1;overflow:visible;cursor:move;text-align:center;vertical-align:text-top;}.tabledrag-handle::after{display:inline-block;width:var(--tabledrag-handle-icon-size);height:var(--tabledrag-handle-icon-size);margin-left:calc(var(--space-m) * -1);padding:var(--space-xs) var(--space-m);content:"";transition:transform 0.1s ease-in-out 0s;background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e") no-repeat center;}[dir="rtl"] .tabledrag-handle::after{margin-right:calc(var(--space-m) * -1);margin-left:0;}@media (forced-colors:active){.tabledrag-handle::after{content:"";background:linktext;-webkit-mask-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:center;}}.tabledrag-handle::after,.tabledrag-disabled .tabledrag-handle.tabledrag-handle.tabledrag-handle::after{transform:scale(1);}.tabledrag-handle:hover::after,.tabledrag-handle:focus::after,.draggable.drag .tabledrag-handle::after{transform:scale(1.25);}.tabledrag-handle:focus{outline:none !important;box-shadow:none !important;}.tabledrag-handle:focus::before{display:block;width:calc(var(--space-m) + (var(--space-xs) * 2));height:calc(var(--space-m) + (var(--space-xs) * 2));margin:0 calc(var(--space-xs) * -1) calc((var(--space-m) + (var(--space-xs) * 2)) * -1);content:"";border-radius:var(--base-border-radius);outline:var(--outline-size) dotted transparent;box-shadow:0 0 0 var(--focus-border-size) var(--color-focus);}.tabledrag-disabled .tabledrag-handle{cursor:default;opacity:0.4;}.tabledrag-disabled .tabledrag-handle.tabledrag-handle::before{content:normal;}.touchevents .tabledrag-handle::after{padding-top:var(--space-s);padding-bottom:var(--space-s);}.touchevents .draggable .menu-item__link{padding-top:var(--space-xs);padding-bottom:var(--space-xs);}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.draggable-table .tabledrag-toggle-weight-wrapper{display:none;}.tabledrag-cell{padding-top:0;padding-bottom:0;}.tabledrag-cell--only-drag{width:1px;padding-right:0;}[dir="rtl"] .tabledrag-cell--only-drag{padding-right:var(--space-m);padding-left:0;}.tabledrag-cell-content{display:table;height:100%;}.tabledrag-cell-content > *{display:table-cell;vertical-align:middle;}.tabledrag-cell-content__item{padding-right:var(--space-xs);}[dir="rtl"] .tabledrag-cell-content__item{padding-right:0;padding-left:var(--space-xs);}.tabledrag-cell-content__item:empty{display:none;}.tabledrag-cell-content .indentation,[dir="rtl"] .tabledrag-cell-content .indentation{float:none;overflow:hidden;height:100%;}.tabledrag-cell-content .tree{min-height:100%;}@media not all and (-webkit-min-device-pixel-ratio:0),not all and (min-resolution:0.001dpcm){@supports (-webkit-appearance:none){.tabledrag-cell-content .tree{overflow:visible;min-height:0;}}}.tabledrag-cell-content .tabledrag-handle::after{vertical-align:middle;}.indentation{background:none !important;}.indentation{position:relative;left:calc(var(--space-xs) * -0.5);float:left;width:calc(25rem / 16);height:calc(25rem / 16);line-height:0;}[dir="rtl"] .indentation{right:calc(var(--space-xs) * -0.5);left:auto;float:right;}.tree{width:calc(25rem / 16);height:calc(25rem / 16);}.tree__item{display:none;}.tree-child path:not(.tree__item-child-ltr){display:none;}.tree-child path.tree__item-child-ltr{display:block;}[dir="rtl"] .tree-child path:not(.tree__item-child-rtl){display:none;}[dir="rtl"] .tree-child path.tree__item-child-rtl{display:block;}.tree-child-last path:not(.tree__item-child-last-ltr){display:none;}.tree-child-last path.tree__item-child-last-ltr{display:block;}[dir="rtl"] .tree-child-last path:not(.tree__item-child-last-rtl){display:none;}[dir="rtl"] .tree-child-last path.tree__item-child-last-rtl{display:block;}.tree-child-horizontal path:not(.tree__item-horizontal){display:none;}.tree-child-horizontal path.tree__item-horizontal{display:block;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{margin:0;padding:0;vertical-align:baseline;font-size:small;line-height:1;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-block-start:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar .toolbar-tray{z-index:501;display:none;}.toolbar-horizontal .toolbar-tray{position:fixed;inset-inline-start:0;width:100%;}.toolbar-oriented .toolbar-bar{position:absolute;inset-block-start:0;inset-inline:0;}.toolbar-oriented .toolbar-tray{position:absolute;inset-inline:0;}.toolbar-oriented .toolbar-bar{z-index:502;}.toolbar-oriented .toolbar-tray-vertical{position:absolute;inset-inline-start:-100%;width:15rem;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{display:none;}}.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{inset-block-end:0;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,.toolbar-fixed .toolbar .toolbar-tray-vertical{position:fixed;overflow-x:hidden;overflow-y:auto;height:100%;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{inset-inline-start:0;}.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-inline-start:15rem;}@media print{.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-inline-start:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{position:absolute;inset-block-start:auto;inset-inline-end:0;inset-block-end:0;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}.toolbar-anti-flicker.toolbar-loading.toolbar-fixed body{padding-top:2.4375rem;}.toolbar-anti-flicker.toolbar-loading.toolbar-fixed.toolbar-horizontal.toolbar-tray-open body{padding-top:4.91331rem;}.toolbar-anti-flicker.toolbar-vertical.toolbar-tray-open .menu-item + .menu-item{border-top:1px solid #ddd;}.toolbar-loading.toolbar-vertical.toolbar-tray-open .toolbar-tray{position:fixed;z-index:-1;top:2.4375rem;bottom:0;display:block;width:15rem;inset-inline-start:0;}.toolbar-tray-lazy-placeholder-link{position:relative;z-index:0;display:block;}.toolbar-tray-open.toolbar-fixed.toolbar-vertical #toolbar-administration{margin-inline-start:-15rem;}.toolbar .toolbar-tray-vertical > .toolbar-lining::before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining::before{position:fixed;z-index:-1;top:0;bottom:0;display:block;width:15rem;content:"";inset-inline-start:0;}
@media screen{.toolbar .toolbar-bar .tour-toolbar-tab.toolbar-tab{float:right;}[dir="rtl"] .toolbar .toolbar-bar .tour-toolbar-tab.toolbar-tab{float:left;}.tour-progress{position:absolute;right:20px;bottom:20px;}[dir="rtl"] .tour-progress{right:auto;left:20px;}.shepherd-footer{display:flex;justify-content:flex-start;padding:0 20px 20px;}.shepherd-footer .shepherd-button:last-child{margin-right:0;}.shepherd-cancel-icon{position:absolute;top:20px;right:20px;margin:0;padding:0;cursor:pointer;border:none;background:transparent;line-height:1em;}.shepherd-title{margin:0;padding:0;}.shepherd-header{position:relative;margin-bottom:10px;padding:20px 50px 0 20px;}.shepherd-text{padding:0 20px;}.shepherd-text p{margin:0 0 1.4em;}.shepherd-element{z-index:110;width:300px;background:#fff;}@media only screen and (max-width:767px){.shepherd-element{left:2.5%;width:85%;}}.shepherd-enabled.shepherd-element{opacity:1;}.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered){opacity:0;}.shepherd-element,.shepherd-element *,.shepherd-element ::after,.shepherd-element ::before{box-sizing:border-box;}.shepherd-arrow,.shepherd-arrow::before{position:absolute;width:16px;height:16px;}.shepherd-arrow::before{content:"";transform:rotate(45deg);background:#fff;}.shepherd-element[data-popper-placement^=top] > .shepherd-arrow{bottom:-8px;}.shepherd-element[data-popper-placement^=bottom] > .shepherd-arrow{top:-8px;}.shepherd-element[data-popper-placement^=left] > .shepherd-arrow{right:-8px;}.shepherd-element[data-popper-placement^=right] > .shepherd-arrow{left:-8px;}.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,.shepherd-target-click-disabled.shepherd-enabled.shepherd-target *{pointer-events:none;}.shepherd-modal-overlay-container{position:fixed;z-index:105;top:0;left:0;overflow:hidden;width:100vw;height:0;pointer-events:none;opacity:0;fill-rule:evenodd;}.shepherd-modal-overlay-container.shepherd-modal-is-visible{height:100vh;opacity:0.5;}.shepherd-modal-overlay-container.shepherd-modal-is-visible path{pointer-events:all;}
}
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab{float:right;}[dir="rtl"] .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab{float:left;}.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item{margin:0;}.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item.is-active{background-image:linear-gradient(rgb(78,159,234) 0%,rgb(69,132,221) 100%);}.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab.hidden{display:none;}
.toolbar .toolbar-menu,[dir="rtl"] .toolbar .toolbar-menu{margin:0;padding:0;list-style:none;}.toolbar .toolbar-box{position:relative;display:block;width:auto;line-height:1em;}.toolbar .toolbar-tray-vertical .toolbar-menu ul{display:none;}.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle{display:none;}.toolbar-tray-open .toolbar-menu .menu-item--expanded ul{display:none;}.toolbar .toolbar-tray-vertical li.open > ul{display:block;}.toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:3em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:0;margin-left:3em;}.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,.toolbar .toolbar-tray a.is-active{color:#000;font-weight:bold;}@media screen and (max-width:19.9375rem){.toolbar .toolbar-tray-vertical.is-active{width:100%;}}.toolbar .level-2 > ul{border-top-color:#e5e5e5;border-bottom-color:#ccc;background-color:#fafafa;}.toolbar .level-3 > ul{border-top-color:#ddd;border-bottom-color:#c5c5c5;background-color:#f5f5f5;}.toolbar .level-4 > ul{border-top-color:#d5d5d5;border-bottom-color:#bbb;background-color:#eee;}.toolbar .level-5 > ul{border-top-color:#ccc;border-bottom-color:#b5b5b5;background-color:#e5e5e5;}.toolbar .level-6 > ul{border-top-color:#c5c5c5;border-bottom-color:#aaa;background-color:#eee;}.toolbar .level-7 > ul{border-top-color:#ccc;border-bottom-color:#b5b5b5;background-color:#fafafa;}.toolbar .level-8 > ul{border-top-color:#ddd;border-bottom-color:#ccc;background-color:#ddd;}.toolbar .toolbar-handle:hover{cursor:pointer;}.toolbar .toolbar-icon.toolbar-handle{position:absolute;z-index:1;top:0;right:0;bottom:0;display:block;height:100%;padding:0;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle{right:auto;left:0;padding:0;}
.contextual{position:absolute;z-index:500;top:6px;right:0;}[dir="rtl"] .contextual{right:auto;left:0;}.contextual-region.focus{outline:1px dashed #d6d6d6;outline-offset:1px;}.contextual .trigger{position:relative;right:6px;float:right;overflow:hidden;margin:0;padding:0 2px;cursor:pointer;border:1px solid #ccc;border-radius:13px;background-color:#fff;background-attachment:scroll;}[dir="rtl"] .contextual .trigger{right:auto;left:6px;float:left;}.contextual.open .trigger{z-index:2;border:1px solid #ccc;border-bottom-color:transparent;border-radius:13px 13px 0 0;box-shadow:none;}.contextual-region .contextual .contextual-links{position:relative;top:-1px;right:6px;float:right;clear:both;margin:0;padding:0.25em 0;text-align:left;white-space:nowrap;border:1px solid #ccc;border-radius:4px 0 4px 4px;background-color:#fff;}[dir="rtl"] .contextual-region .contextual .contextual-links{right:auto;left:6px;float:left;text-align:right;border-radius:0 4px 4px 4px;}.contextual-region .contextual .contextual-links li{margin:0;padding:0;list-style:none;list-style-image:none;border:none;background-color:#fff;line-height:100%;}.contextual-region .contextual .contextual-links a{display:block;margin:0.25em 0;padding:0.4em 0.6em;color:#333;background-color:#fff;font-family:sans-serif;font-size:small;line-height:0.8em;}.touchevents .contextual-region .contextual .contextual-links a{font-size:large;}.contextual-region .contextual .contextual-links a,.contextual-region .contextual .contextual-links a:hover{text-decoration:none;}.no-touchevents .contextual-region .contextual .contextual-links li a:hover{color:#000;background:#f7fcff;}
.toolbar-bar .toolbar-icon-edit::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23bebebe' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23bebebe' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-edit:active::before,.toolbar-bar .toolbar-icon-edit.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23ffffff' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23ffffff' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23ffffff' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");}.contextual .trigger{width:26px !important;height:26px !important;}.contextual .trigger{text-indent:-9999px;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23bebebe' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23bebebe' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-position:center center;background-size:16px 16px;}.contextual .trigger:hover{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%23787878' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%23787878' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");}.contextual .trigger:focus{outline:none;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%235181C6' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3e%3crect fill='%235181C6' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3e%3cpath fill='%235181C6' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");}
.toolbar .toolbar-tray-vertical .edit-shortcuts{padding:1em;text-align:right;}[dir="rtl"] .toolbar .toolbar-tray-vertical .edit-shortcuts{text-align:left;}.toolbar .toolbar-tray-horizontal .edit-shortcuts{float:right;}[dir="rtl"] .toolbar .toolbar-tray-horizontal .edit-shortcuts{float:left;}.shortcut-action{display:inline-block;margin-left:0.3em;}[dir="rtl"] .shortcut-action{margin-right:0.3em;margin-left:0;}.shortcut-action__message{display:inline-block;margin-left:0.3em;padding:0 5px;-webkit-transition:all 200ms ease-out;transition:all 200ms ease-out;-webkit-transform:translateY(-12px);transform:translateY(-12px);opacity:0;color:#fff;border-radius:5px;background:#000;background:rgba(0,0,0,0.5);-webkit-backface-visibility:hidden;backface-visibility:hidden;}[dir="rtl"] .shortcut-action__message{margin-right:0.3em;margin-left:0;}.shortcut-action:hover .shortcut-action__message,.shortcut-action:focus .shortcut-action__message{-webkit-transform:translateY(-2px);transform:translateY(-2px);opacity:1;}
.toolbar-bar .toolbar-icon-shortcut::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M12.236 15c-.146 0-.283-.041-.406-.124l-3.828-2.583-3.83 2.583c-.123.083-.265.124-.406.124-.145 0-.289-.043-.413-.129-.246-.171-.362-.475-.292-.766l1.122-4.73-3.439-3.107c-.225-.2-.303-.519-.196-.8.106-.282.376-.468.678-.468h4.259l1.843-4.542c.109-.277.377-.458.674-.458.297 0 .564.181.674.458l1.84 4.542h4.262c.306 0 .57.186.683.468.104.281.024.601-.196.8l-3.439 3.107 1.121 4.73c.065.291-.047.595-.293.766-.129.086-.273.129-.418.129z'/%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-shortcut:active::before,.toolbar-bar .toolbar-icon-shortcut.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23ffffff' d='M12.236 15c-.146 0-.283-.041-.406-.124l-3.828-2.583-3.83 2.583c-.123.083-.265.124-.406.124-.145 0-.289-.043-.413-.129-.246-.171-.362-.475-.292-.766l1.122-4.73-3.439-3.107c-.225-.2-.303-.519-.196-.8.106-.282.376-.468.678-.468h4.259l1.843-4.542c.109-.277.377-.458.674-.458.297 0 .564.181.674.458l1.84 4.542h4.262c.306 0 .57.186.683.468.104.281.024.601-.196.8l-3.439 3.107 1.121 4.73c.065.291-.047.595-.293.766-.129.086-.273.129-.418.129z'/%3e%3c/svg%3e");}.shortcut-action__icon{display:inline-block;width:20px;height:20px;vertical-align:-2px;background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='20' viewBox='0 0 80 20'%3e%3cg%3e%3cpath fill='%23FEF6A8' d='M69.729 2.259c.149-.385.394-.385.543 0l1.959 5.049c.149.385.609.699 1.021.699l1.75.169c.412 0 .493.219.18.487l-1.31.981c-.313.268-.497.816-.407 1.22l1.472 6.562c.09.403-.118.547-.463.319l-3.848-2.539c-.345-.228-.907-.228-1.252 0l-3.848 2.539c-.345.228-.553.084-.463-.319l1.047-4.707c.09-.403-.094-.952-.407-1.22l-3.518-3.006c-.313-.268-.232-.487.18-.487h4.381c.412 0 .872-.314 1.021-.699l1.962-5.048z'/%3e%3cpolygon fill='%23807640' points='77.548,5 75.002,7.547 72.456,5 71.041,6.415 73.587,8.961 71.044,11.505 72.457,12.919 75.001,10.375 77.546,12.919 78.96,11.505 76.415,8.96 78.962,6.414'/%3e%3cpath fill='%2380722D' d='M75.172 13.897s-.133-.516-.651-.349c-.516.166-.302.674-.302.674l.719 3.204c.061.273-.016.428-.178.428-.078 0-.174-.035-.285-.107l-3.848-2.539c-.174-.115-.4-.172-.627-.172s-.453.057-.625.172l-3.848 2.539c-.111.072-.209.107-.285.107-.164 0-.24-.154-.178-.428l1.047-4.707c.09-.402-.094-.951-.408-1.219l-3.518-3.007c-.314-.269-.232-.487.18-.487h4.383c.412 0 .871-.314 1.021-.699l1.959-5.049c.075-.192.174-.287.272-.287s.197.096.271.288l.461 1.158s.255.409.635.219c.44-.221.227-.66.227-.66l-.389-1.078c-.336-.861-1.008-.927-1.205-.927s-.869.066-1.203.926l-1.961 5.049-.109.062-4.361-.001c-.934 0-1.23.609-1.301.796-.068.187-.238.844.471 1.451l3.52 3.007c.037.041.086.186.078.25l-1.045 4.699c-.133.596.051.984.229 1.205.225.279.561.439.926.439.279 0 .561-.092.836-.273l3.848-2.539v.002l.074-.008.088.014 3.836 2.531c.273.182.557.273.836.273.363 0 .701-.16.924-.439.178-.221.361-.609.23-1.205l-.744-3.313z'/%3e%3c/g%3e%3cg%3e%3cpath fill='%23FEF6A8' d='M54.759 18.355c-.18 0-.369-.064-.561-.191l-3.848-2.539c-.083-.055-.215-.088-.351-.088s-.268.033-.351.088l-3.848 2.539c-.191.127-.381.191-.561.191-.212 0-.407-.092-.535-.252-.109-.136-.22-.383-.131-.784l1.047-4.708c.05-.222-.071-.584-.243-.731l-3.517-3.006c-.451-.386-.378-.756-.326-.897.053-.141.237-.47.831-.47h4.381c.206 0 .48-.188.556-.38l1.961-5.049c.213-.549.587-.608.737-.608s.524.059.737.607l1.959 5.049c.075.191.35.38.556.38h4.383c.594 0 .778.329.831.47.052.142.125.512-.326.897l-3.518 3.006c-.173.147-.294.51-.244.731l1.047 4.708c.089.401-.021.647-.131.784-.128.162-.323.253-.535.253z'/%3e%3cpath fill='%2380722D' d='M50 1.97c.099 0 .196.096.271.289l1.959 5.049c.149.385.609.699 1.021.699h4.383c.412 0 .493.219.18.487l-3.517 3.006c-.313.268-.497.816-.407 1.22l1.047 4.708c.061.273-.015.428-.178.428-.077 0-.174-.035-.285-.108l-3.848-2.539c-.173-.113-.399-.171-.626-.171s-.453.058-.626.171l-3.848 2.539c-.111.073-.208.108-.285.108-.163 0-.238-.154-.178-.428l1.047-4.708c.09-.403-.094-.952-.407-1.22l-3.518-3.006c-.313-.268-.232-.487.18-.487h4.381c.412 0 .872-.314 1.021-.699l1.961-5.049c.076-.193.173-.289.272-.289m0-1c-.198 0-.87.067-1.204.927l-1.961 5.049-.109.062-4.36-.001c-.934 0-1.231.61-1.3.797-.069.187-.239.844.471 1.451l3.518 3.005c.039.043.086.186.079.25l-1.046 4.701c-.132.595.052.983.229 1.205.224.279.561.439.925.439.28 0 .562-.093.836-.273l3.848-2.539.001.001.074-.007.089.014 3.834 2.531c.274.181.557.273.836.273.364 0 .701-.16.925-.439.178-.222.361-.61.229-1.206l-1.046-4.707c-.006-.058.041-.2.086-.248l3.512-3c.71-.607.54-1.264.471-1.451-.068-.187-.366-.797-1.3-.797h-4.383l-.098-.08-1.95-5.03c-.336-.86-1.008-.927-1.206-.927z'/%3e%3c/g%3e%3cg%3e%3cpath opacity='.7' fill='%235A563B' d='M35.414 14.96s-.133-.516-.651-.349c-.516.166-.302.674-.302.674l.477 2.142c.061.273-.016.428-.178.428-.078 0-.174-.035-.285-.107l-3.848-2.539c-.174-.115-.4-.172-.627-.172s-.453.057-.625.172l-3.848 2.539c-.111.072-.209.107-.285.107-.164 0-.24-.154-.178-.428l1.047-4.707c.09-.402-.094-.951-.408-1.219l-3.518-3.007c-.314-.269-.232-.487.18-.487h4.383c.412 0 .871-.314 1.021-.699l1.959-5.049c.075-.193.174-.288.272-.288s.197.096.271.288l1.377 3.538s.255.409.635.219c.44-.221.227-.66.227-.66l-.607-1.658-.697-1.801c-.337-.86-1.009-.926-1.206-.926s-.869.066-1.203.926l-1.961 5.049-.109.062-4.361-.001c-.934 0-1.23.609-1.301.796-.068.187-.238.844.471 1.451l3.52 3.007c.037.041.086.186.078.25l-1.045 4.699c-.133.596.051.984.229 1.205.225.279.561.439.926.439.279 0 .561-.092.836-.273l3.848-2.539v.002l.074-.008.088.014 3.836 2.531c.273.182.557.273.836.273.363 0 .701-.16.924-.439.178-.221.361-.609.23-1.205l-.502-2.25z'/%3e%3cpolygon fill='%23807640' points='39,7.96 36,7.96 36,4.96 34,4.96 34,7.96 31,7.96 31,9.959 34,9.959 34,12.96 36,12.96 36,9.959 39,9.959'/%3e%3c/g%3e%3cpath opacity='.7' fill='%235A563B' d='M10 1.97c.098 0 .197.096.271.289l1.959 5.049c.149.385.609.699 1.021.699h4.383c.412 0 .493.219.18.487l-3.517 3.006c-.313.268-.497.816-.407 1.22l1.047 4.707c.061.273-.015.428-.178.428-.077 0-.174-.035-.285-.108l-3.848-2.539c-.172-.114-.399-.171-.626-.171s-.454.057-.626.171l-3.848 2.539c-.111.073-.208.108-.285.108-.163 0-.239-.154-.178-.428l1.047-4.707c.09-.403-.094-.951-.407-1.22l-3.518-3.006c-.313-.268-.233-.487.18-.487h4.382c.413 0 .872-.314 1.021-.699l1.96-5.049c.075-.193.173-.289.272-.289m0-1c-.198 0-.87.067-1.204.927l-1.96 5.049-.109.062-4.362-.001c-.934 0-1.231.61-1.3.796-.069.187-.239.844.47 1.451l3.519 3.007c.038.041.086.185.079.249l-1.046 4.7c-.133.595.051.983.229 1.205.224.279.561.439.925.439.28 0 .562-.093.836-.274l3.848-2.538v.001l.075-.007.088.014 3.834 2.531c.274.181.557.273.836.273.364 0 .701-.16.925-.439.178-.222.361-.61.229-1.206l-1.047-4.706c-.006-.058.041-.2.086-.248l3.512-3c.71-.607.54-1.264.471-1.451-.068-.187-.366-.797-1.3-.797h-4.383l-.098-.08-1.95-5.03c-.333-.86-1.005-.927-1.203-.927z'/%3e%3c/svg%3e") no-repeat left top;}[dir="rtl"] .shortcut-action__icon{background-image:url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3csvg width='80' height='20' xmlns='http://www.w3.org/2000/svg'%3e %3cg%3e  %3cg id='svg_1'%3e   %3cpath id='svg_2' d='m70.39463,2.259c-0.149605,-0.385 -0.395561,-0.385 -0.545135,0l-1.966644,5.049c-0.149582,0.385 -0.611374,0.699 -1.024971,0.699l-1.756836,0.169c-0.413605,0 -0.494911,0.219001 -0.180702,0.487l1.315094,0.981c0.31424,0.268 0.498962,0.816 0.408607,1.22l-1.477745,6.562c-0.090355,0.403 0.118454,0.546999 0.464806,0.319l3.862999,-2.539001c0.346359,-0.228001 0.910545,-0.228001 1.256889,0l3.863014,2.539001c0.346344,0.227999 0.555161,0.084 0.464806,-0.319l-1.051086,-4.707001c-0.090355,-0.403 0.094368,-0.952 0.408577,-1.22l3.531731,-3.006c0.314209,-0.268 0.232903,-0.487 -0.180702,-0.487l-4.398079,0c-0.413612,0 -0.875404,-0.314 -1.024986,-0.698999l-1.969635,-5.048z' fill='%23FEF6A8'/%3e   %3cpolygon id='svg_3' points='62.545124552483685,5 65.1010474534105,7.546999931335449 67.6569842932513,5 69.07749901699208,6.414999961853027 66.52157611606526,8.961000442504883 69.07448821157232,11.505000114440918 67.65596675253073,12.918999671936035 65.10203711630311,10.375 62.54711781718288,12.918999671936035 61.12760669524869,11.505000114440918 63.682525994368916,8.960000038146973 61.12559949163551,6.414000034332275 ' fill='%23807640'/%3e   %3cpath id='svg_4' d='m64.930397,13.897s0.133507,-0.516001 0.653519,-0.349c0.518013,0.165999 0.303192,0.674 0.303192,0.674l-0.721832,3.204c-0.061234,0.272999 0.01609,0.427999 0.178696,0.427999c0.078323,0 0.174698,-0.035 0.28614,-0.107l3.863007,-2.539c0.174667,-0.115 0.401566,-0.172 0.62944,-0.172s0.45475,0.057 0.627426,0.172l3.863022,2.539c0.111427,0.072001 0.209808,0.107 0.28611,0.107c0.164627,0 0.240929,-0.153999 0.178696,-0.427999l-1.051094,-4.707001c-0.090347,-0.401999 0.094368,-0.951 0.409584,-1.219l3.531731,-3.007c0.315224,-0.269 0.232903,-0.487 -0.180702,-0.487l-4.400085,0c-0.413628,0 -0.874405,-0.314 -1.024986,-0.698999l-1.966637,-5.049c-0.075302,-0.192 -0.174683,-0.287 -0.273064,-0.287s-0.197769,0.096 -0.272064,0.288l-0.462784,1.158s-0.256004,0.409 -0.637497,0.219c-0.441711,-0.221 -0.227875,-0.66 -0.227875,-0.66l0.390511,-1.078c0.337311,-0.861 1.01194,-0.927 1.209709,-0.927s0.872391,0.066 1.20768,0.926l1.968658,5.049l0.109421,0.062l4.378006,-0.001c0.937645,0 1.234795,0.609 1.306076,0.796c0.06826,0.187 0.23893,0.844 -0.472839,1.451l-3.533722,3.007c-0.037148,0.041 -0.086334,0.186 -0.078308,0.25l1.049088,4.698999c0.133507,0.596001 -0.051216,0.984001 -0.229912,1.205002c-0.225868,0.278999 -0.563187,0.438999 -0.929596,0.438999c-0.280106,0 -0.563194,-0.092001 -0.839264,-0.273001l-3.863014,-2.539l0,0.002001l-0.074287,-0.008001l-0.088341,0.014l-3.85096,2.531c-0.274071,0.182001 -0.559174,0.273001 -0.839264,0.273001c-0.364418,0 -0.703735,-0.16 -0.927589,-0.438999c-0.178711,-0.221001 -0.362411,-0.609001 -0.230904,-1.205002l0.74691,-3.312999z' fill='%2380722D'/%3e  %3c/g%3e  %3cg id='svg_5'%3e   %3cpath id='svg_6' d='m54.758999,18.355c-0.18,0 -0.368999,-0.063999 -0.560997,-0.191l-3.848003,-2.539c-0.083,-0.055 -0.215,-0.088 -0.350998,-0.088s-0.268002,0.033 -0.351002,0.088l-3.848,2.539c-0.190998,0.127001 -0.381001,0.191 -0.561001,0.191c-0.211998,0 -0.406998,-0.091999 -0.535,-0.251999c-0.108997,-0.136002 -0.219997,-0.383001 -0.130997,-0.784l1.046997,-4.708c0.049999,-0.222 -0.070999,-0.584 -0.243,-0.731l-3.516998,-3.006001c-0.451,-0.386 -0.378002,-0.756 -0.326,-0.896999c0.053001,-0.141 0.237,-0.47 0.831001,-0.47l4.380997,0c0.206001,0 0.480003,-0.188 0.556,-0.38l1.961002,-5.049c0.213001,-0.549 0.586998,-0.608 0.737,-0.608s0.523998,0.059 0.737,0.607l1.959,5.049c0.075001,0.191 0.350002,0.38 0.556,0.38l4.382999,0c0.594002,0 0.778,0.329 0.831001,0.47c0.052002,0.142 0.125,0.512 -0.326,0.897l-3.517998,3.006c-0.173,0.147 -0.294003,0.51 -0.244003,0.731l1.047001,4.708001c0.089001,0.400999 -0.021,0.646999 -0.131001,0.783998c-0.127998,0.162001 -0.322998,0.253 -0.535,0.253z' fill='%23FEF6A8'/%3e   %3cpath id='svg_7' d='m50,1.97c0.098999,0 0.195999,0.096 0.271,0.289l1.959,5.049c0.149002,0.385 0.609001,0.699 1.021,0.699l4.382999,0c0.412003,0 0.493,0.219 0.18,0.487l-3.516998,3.006c-0.313,0.268 -0.497002,0.816 -0.407001,1.22l1.047001,4.707999c0.061001,0.273001 -0.014999,0.428001 -0.178001,0.428001c-0.077,0 -0.174,-0.035002 -0.285,-0.108002l-3.848,-2.539c-0.173,-0.113 -0.398998,-0.171 -0.625999,-0.171s-0.452999,0.058 -0.625999,0.171l-3.848,2.539c-0.111,0.073 -0.208,0.108002 -0.285,0.108002c-0.163002,0 -0.238003,-0.154001 -0.178001,-0.428001l1.047001,-4.707999c0.09,-0.403 -0.094002,-0.952001 -0.407001,-1.22l-3.517998,-3.006c-0.313,-0.268001 -0.232002,-0.487 0.18,-0.487l4.380997,0c0.412003,0 0.872002,-0.314 1.021,-0.699l1.961002,-5.049c0.076,-0.193 0.173,-0.289 0.271999,-0.289m0,-1c-0.198002,0 -0.869999,0.067 -1.203999,0.927l-1.961002,5.049l-0.108997,0.062l-4.360001,-0.001c-0.934002,0 -1.231003,0.61 -1.299999,0.797c-0.069,0.187 -0.239002,0.844 0.470997,1.451l3.518002,3.005c0.039001,0.043 0.085999,0.186 0.078999,0.25l-1.045998,4.701c-0.132,0.594999 0.051998,0.983 0.229,1.205c0.223999,0.278999 0.560997,0.438999 0.924999,0.438999c0.279999,0 0.562,-0.093 0.835999,-0.272999l3.848,-2.539001l0.000999,0.001001l0.074001,-0.007l0.089001,0.014l3.834,2.531c0.274002,0.181 0.556999,0.272999 0.835999,0.272999c0.364002,0 0.701,-0.16 0.925003,-0.438999c0.177998,-0.222 0.361,-0.610001 0.229,-1.206001l-1.046001,-4.706999c-0.006001,-0.058001 0.041,-0.2 0.085999,-0.248l3.512001,-3c0.709999,-0.607 0.540001,-1.264 0.471001,-1.451c-0.068001,-0.187 -0.366001,-0.797 -1.299999,-0.797l-4.382999,0l-0.098003,-0.08l-1.949997,-5.03c-0.336002,-0.86 -1.007999,-0.927 -1.206001,-0.927z' fill='%2380722D'/%3e  %3c/g%3e  %3cg id='svg_8'%3e   %3cpath id='svg_9' d='m24.614159,14.96s0.134195,-0.516 0.656843,-0.349c0.520624,0.166 0.304714,0.674 0.304714,0.674l-0.481285,2.142c-0.06155,0.273001 0.016146,0.427999 0.179598,0.427999c0.078697,0 0.175564,-0.035 0.287556,-0.107l3.882521,-2.539c0.175562,-0.115 0.403591,-0.172 0.632626,-0.172s0.457062,0.057 0.630606,0.172l3.88253,2.539c0.111988,0.072001 0.210865,0.107 0.287552,0.107c0.165478,0 0.242153,-0.153999 0.179596,-0.427999l-1.056396,-4.707c-0.090809,-0.402 0.094849,-0.951 0.411667,-1.219l3.549557,-3.007c0.316818,-0.269 0.234085,-0.487 -0.181614,-0.487l-4.422318,0c-0.415699,0 -0.878819,-0.314 -1.030159,-0.699l-1.976582,-5.049c-0.075674,-0.193 -0.17556,-0.288 -0.274439,-0.288s-0.198767,0.096 -0.27343,0.288l-1.389357,3.538s-0.257284,0.409 -0.640696,0.219c-0.443943,-0.221 -0.229034,-0.66 -0.229034,-0.66l0.612446,-1.658l0.703257,-1.801c0.340021,-0.86 1.018047,-0.926 1.216814,-0.926s0.876799,0.066 1.213793,0.926l1.9786,5.049l0.10997,0.062l4.400127,-0.001c0.942379,0 1.241035,0.609 1.312668,0.796c0.068615,0.187 0.240135,0.844 -0.475224,1.451l-3.551575,3.007c-0.037338,0.041 -0.086777,0.186 -0.078701,0.25l1.054375,4.698999c0.134193,0.596001 -0.051464,0.984001 -0.231056,1.205002c-0.22702,0.278999 -0.566032,0.438999 -0.934299,0.438999c-0.281509,0 -0.566044,-0.092001 -0.843502,-0.273001l-3.882523,-2.539l0,0.002001l-0.074667,-0.008001l-0.088793,0.014l-3.870409,2.531c-0.275454,0.182001 -0.562002,0.273001 -0.843506,0.273001c-0.366257,0 -0.707291,-0.16 -0.932289,-0.438999c-0.179598,-0.221001 -0.364237,-0.609001 -0.232063,-1.205002l0.506502,-2.249999z' fill='%235A563B' opacity='0.7'/%3e   %3cpolygon id='svg_10' points='20.99598980255405,7.960000038146973 24.022905373148888,7.960000038146973 24.022905373148888,4.960000038146973 26.040840745155492,4.960000038146973 26.040840745155492,7.960000038146973 29.06775631575033,7.960000038146973 29.06775631575033,9.958999633789062 26.040840745155492,9.958999633789062 26.040840745155492,12.960000038146973 24.022905373148888,12.960000038146973 24.022905373148888,9.958999633789062 20.99598980255405,9.958999633789062 ' fill='%23807640'/%3e  %3c/g%3e  %3cpath id='svg_11' d='m10,1.97c0.098,0 0.197,0.096 0.271,0.289l1.959,5.049c0.149,0.385 0.609,0.699 1.021001,0.699l4.383,0c0.411999,0 0.493,0.219 0.179998,0.487l-3.516999,3.006c-0.313,0.268 -0.497,0.816 -0.407,1.22l1.047,4.707c0.061,0.273001 -0.015,0.427999 -0.178,0.427999c-0.077,0 -0.174,-0.035 -0.285,-0.108l-3.848,-2.539c-0.172,-0.114 -0.399,-0.171 -0.626,-0.171s-0.454,0.057 -0.626,0.171l-3.848,2.539c-0.111,0.073 -0.208,0.108 -0.285,0.108c-0.163,0 -0.239,-0.153999 -0.178,-0.427999l1.047,-4.707c0.09,-0.403 -0.094,-0.951 -0.407,-1.22l-3.518,-3.006c-0.313,-0.268001 -0.233,-0.487 0.18,-0.487l4.382,0c0.413,0 0.872,-0.314 1.021,-0.699l1.96,-5.049c0.075001,-0.193 0.173,-0.289 0.272,-0.289m0,-1c-0.198,0 -0.87,0.067 -1.204,0.927l-1.96,5.049l-0.109,0.062l-4.362,-0.001c-0.934,0 -1.231,0.61 -1.3,0.796c-0.069,0.187 -0.239,0.844 0.47,1.451l3.519,3.007c0.038,0.041 0.086,0.185 0.079,0.249001l-1.046,4.699999c-0.133,0.595001 0.051,0.983002 0.229,1.205002c0.224,0.278999 0.561,0.438999 0.925,0.438999c0.28,0 0.562,-0.093 0.836,-0.274l3.848,-2.538l0,0.000999l0.075,-0.007l0.088,0.014l3.834,2.531c0.274,0.181 0.557,0.273001 0.836,0.273001c0.363999,0 0.700999,-0.16 0.924999,-0.438999c0.178,-0.222 0.361001,-0.610001 0.229,-1.206001l-1.047,-4.705999c-0.006,-0.058001 0.041,-0.2 0.086,-0.248l3.511999,-3c0.710001,-0.607 0.540001,-1.264 0.471001,-1.451c-0.068001,-0.187 -0.365999,-0.797 -1.299999,-0.797l-4.383,0l-0.098001,-0.08l-1.95,-5.03c-0.333,-0.86 -1.005,-0.927 -1.203,-0.927z' fill='%235A563B' opacity='0.7'/%3e %3c/g%3e%3c/svg%3e");}.shortcut-action--add:hover .shortcut-action__icon,.shortcut-action--add:focus .shortcut-action__icon{background-position:-20px top;}.shortcut-action--remove .shortcut-action__icon{background-position:-40px top;}.shortcut-action--remove:focus .shortcut-action__icon,.shortcut-action--remove:hover .shortcut-action__icon{background-position:-60px top;}
.toolbar{font-family:"Source Sans Pro","Lucida Grande",Verdana,sans-serif;font-size:0.8125rem;-moz-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-moz-touch-callout:none;-o-touch-callout:none;-webkit-touch-callout:none;touch-callout:none;}.toolbar .toolbar-item{padding:1em 1.3333em;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;line-height:1em;}.toolbar .toolbar-item:hover,.toolbar .toolbar-item:focus{-webkit-text-decoration:underline;text-decoration:underline;}.toolbar .toolbar-bar{color:#ddd;background-color:#0f0f0f;box-shadow:-1px 0 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-bar{box-shadow:1px 0 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-bar .toolbar-item{color:#fff;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item{font-weight:bold;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{background-image:linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active{background-image:linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);}.toolbar .toolbar-tray{background-color:#fff;}.toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:5em;}[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:0;padding-left:5em;}.toolbar .toolbar-tray-vertical{border-right:1px solid #aaa;background-color:#f5f5f5;box-shadow:-1px 0 5px 2px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-tray-vertical{border-right:0 none;border-left:1px solid #aaa;box-shadow:1px 0 5px 2px rgba(0,0,0,0.3333);}.toolbar-horizontal .toolbar-tray{border-bottom:1px solid #aaa;box-shadow:-2px 1px 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar-horizontal .toolbar-tray{box-shadow:2px 1px 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-tray-horizontal .toolbar-tray{background-color:#f5f5f5;}.toolbar-tray a,.toolbar-tray a:visited{padding:1em 1.3333em;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;color:#565656;}.toolbar-tray a:hover,.toolbar-tray a:active,.toolbar-tray a:focus,.toolbar-tray a.is-active{-webkit-text-decoration:underline;text-decoration:underline;color:#000;}.toolbar .toolbar-menu{background-color:#fff;}.toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-right:1px solid #ddd;border-left:0 none;}.toolbar-horizontal .toolbar-tray .menu-item:last-child{border-right:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item:last-child{border-left:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item + .menu-item{border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child{border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item .menu-item{border:0 none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child > ul{border-bottom:0;}.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0.25em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-right:0.25em;margin-left:0;}.toolbar .toolbar-menu .toolbar-menu a{color:#434343;}.toolbar .toolbar-toggle-orientation{height:100%;padding:0;background-color:#f5f5f5;}.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:1px solid #c9c9c9;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-right:1px solid #c9c9c9;border-left:0 none;}.toolbar .toolbar-toggle-orientation > .toolbar-lining{float:right;}[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining{float:left;}.toolbar .toolbar-toggle-orientation button{display:inline-block;cursor:pointer;}
.toolbar .toolbar-icon{position:relative;padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-icon{padding-right:2.75em;padding-left:1.3333em;}.toolbar .toolbar-icon::before{position:absolute;top:0;left:0.6667em;display:block;width:1.25rem;height:100%;content:"";background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center center;background-size:100% auto;}[dir="rtl"] .toolbar .toolbar-icon::before{right:0.6667em;left:auto;}.toolbar button.toolbar-icon{border:0;background-color:transparent;font-size:1em;}.toolbar .toolbar-menu ul .toolbar-icon{padding-left:1.3333em;}[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon{padding-right:1.3333em;padding-left:0;}.toolbar .toolbar-menu ul a.toolbar-icon::before{display:none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-right:2.75em;padding-left:0;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:3.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-right:3.75em;padding-left:0;}.toolbar .toolbar-tray-vertical .toolbar-menu a{padding-right:4em;padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a{padding-right:2.75em;padding-left:4em;}.toolbar-bar .toolbar-icon-menu::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M14.752 6h-13.502c-.69 0-1.25.56-1.25 1.25v.5c0 .689.56 1.25 1.25 1.25h13.502c.689 0 1.25-.561 1.25-1.25v-.5c0-.69-.561-1.25-1.25-1.25zM14.752 0h-13.502c-.69 0-1.25.56-1.25 1.25v.5c0 .69.56 1.25 1.25 1.25h13.502c.689 0 1.25-.56 1.25-1.25v-.5c0-.69-.561-1.25-1.25-1.25zM14.752 12h-13.502c-.69 0-1.25.561-1.25 1.25v.5c0 .689.56 1.25 1.25 1.25h13.502c.689 0 1.25-.561 1.25-1.25v-.5c0-.689-.561-1.25-1.25-1.25z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-menu:active::before,.toolbar-bar .toolbar-icon-menu.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23ffffff' d='M14.752 6h-13.502c-.69 0-1.25.56-1.25 1.25v.5c0 .689.56 1.25 1.25 1.25h13.502c.689 0 1.25-.561 1.25-1.25v-.5c0-.69-.561-1.25-1.25-1.25zM14.752 0h-13.502c-.69 0-1.25.56-1.25 1.25v.5c0 .69.56 1.25 1.25 1.25h13.502c.689 0 1.25-.56 1.25-1.25v-.5c0-.69-.561-1.25-1.25-1.25zM14.752 12h-13.502c-.69 0-1.25.561-1.25 1.25v.5c0 .689.56 1.25 1.25 1.25h13.502c.689 0 1.25-.561 1.25-1.25v-.5c0-.689-.561-1.25-1.25-1.25z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-help::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-help:active::before,.toolbar-bar .toolbar-icon-help.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23ffffff' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3e%3c/svg%3e");}.toolbar-icon-system-admin-content::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M12.502 7h-5c-.276 0-.502-.225-.502-.5v-5c0-.275-.225-.5-.5-.5h-3c-.275 0-.5.225-.5.5v12.029c0 .275.225.5.5.5h9.002c.275 0 .5-.225.5-.5v-6.029c0-.275-.225-.5-.5-.5zM8.502 6h4c.275 0 .34-.159.146-.354l-4.293-4.292c-.195-.195-.353-.129-.353.146v4c0 .275.225.5.5.5z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-system-admin-content:active::before,.toolbar-icon-system-admin-content.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23000000' d='M12.502 7h-5c-.276 0-.502-.225-.502-.5v-5c0-.275-.225-.5-.5-.5h-3c-.275 0-.5.225-.5.5v12.029c0 .275.225.5.5.5h9.002c.275 0 .5-.225.5-.5v-6.029c0-.275-.225-.5-.5-.5zM8.502 6h4c.275 0 .34-.159.146-.354l-4.293-4.292c-.195-.195-.353-.129-.353.146v4c0 .275.225.5.5.5z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-system-admin-structure::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3e%3cpath fill='%23787878' d='M15.002,11.277c0-0.721,0-1.471,0-2.014c0-1.456-0.824-2.25-2.25-2.25c-1.428,0-3.5,0-3.5,0c-0.139,0-0.25-0.112-0.25-0.25v-2.04c0.596-0.346,1-0.984,1-1.723c0-1.104-0.895-2-2-2C6.896,1,6,1.896,6,3c0,0.738,0.405,1.376,1,1.722v2.042c0,0.138-0.112,0.25-0.25,0.25c0,0-2.138,0-3.5,0S1,7.932,1,9.266c0,0.521,0,1.277,0,2.012c-0.595,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2c0-0.732-0.405-1.377-1-1.729V9.266c0-0.139,0.112-0.25,0.25-0.25h3.536C6.904,9.034,7,9.126,7,9.25v2.027C6.405,11.624,6,12.26,6,13c0,1.104,0.896,2,2.002,2c1.105,0,2-0.896,2-2c0-0.738-0.404-1.376-1-1.723V9.25c0-0.124,0.098-0.216,0.215-0.234h3.535c0.137,0,0.25,0.111,0.25,0.25v2.012c-0.596,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2C16.002,12.262,15.598,11.623,15.002,11.277z'/%3e%3c/svg%3e");}.toolbar-icon-system-admin-structure:active::before,.toolbar-icon-system-admin-structure.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3e%3cpath d='M15.002,11.277c0-0.721,0-1.471,0-2.014c0-1.456-0.824-2.25-2.25-2.25c-1.428,0-3.5,0-3.5,0c-0.139,0-0.25-0.112-0.25-0.25v-2.04c0.596-0.346,1-0.984,1-1.723c0-1.104-0.895-2-2-2C6.896,1,6,1.896,6,3c0,0.738,0.405,1.376,1,1.722v2.042c0,0.138-0.112,0.25-0.25,0.25c0,0-2.138,0-3.5,0S1,7.932,1,9.266c0,0.521,0,1.277,0,2.012c-0.595,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2c0-0.732-0.405-1.377-1-1.729V9.266c0-0.139,0.112-0.25,0.25-0.25h3.536C6.904,9.034,7,9.126,7,9.25v2.027C6.405,11.624,6,12.26,6,13c0,1.104,0.896,2,2.002,2c1.105,0,2-0.896,2-2c0-0.738-0.404-1.376-1-1.723V9.25c0-0.124,0.098-0.216,0.215-0.234h3.535c0.137,0,0.25,0.111,0.25,0.25v2.012c-0.596,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2C16.002,12.262,15.598,11.623,15.002,11.277z'/%3e%3c/svg%3e");}.toolbar-icon-system-themes-page::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M8.184 7.928l-1.905 1.983-3.538-2.436 4.714-4.713 2.623 3.183-1.894 1.983zm-1.746-7.523c-.236-.416-.803-.649-1.346.083-.259.349-4.727 4.764-4.91 4.983-.182.218-.294.721.044.976.34.258 5.611 3.933 5.611 3.933l-.225.229c.7.729.816.854 1.046.863.75.016 2.035-1.457 2.578-.854.541.604 3.537 3.979 3.537 3.979.51.531 1.305.559 1.815.041.521-.521.541-1.311.025-1.848 0 0-2.742-2.635-3.904-3.619-.578-.479.869-2.051.854-2.839-.008-.238-.125-.361-.823-1.095l-.22.243c0 .003-3.846-4.659-4.082-5.075z'/%3e%3c/svg%3e");}.toolbar-icon-system-themes-page:active::before,.toolbar-icon-system-themes-page.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23000000' d='M8.184 7.928l-1.905 1.983-3.538-2.436 4.714-4.713 2.623 3.183-1.894 1.983zm-1.746-7.523c-.236-.416-.803-.649-1.346.083-.259.349-4.727 4.764-4.91 4.983-.182.218-.294.721.044.976.34.258 5.611 3.933 5.611 3.933l-.225.229c.7.729.816.854 1.046.863.75.016 2.035-1.457 2.578-.854.541.604 3.537 3.979 3.537 3.979.51.531 1.305.559 1.815.041.521-.521.541-1.311.025-1.848 0 0-2.742-2.635-3.904-3.619-.578-.479.869-2.051.854-2.839-.008-.238-.125-.361-.823-1.095l-.22.243c0 .003-3.846-4.659-4.082-5.075z'/%3e%3c/svg%3e");}.toolbar-icon-entity-user-collection::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M6.722 11.291l.451-.17-.165-.32c-.536-1.039-.685-1.934-.761-2.672-.082-.808-.144-2.831 1.053-4.189.244-.278.493-.493.743-.675.012-.826-.135-1.766-.646-2.345-.618-.7-1.4-.787-1.4-.787l-.497-.055-.498.055s-.783.087-1.398.787c-.617.702-.717 1.948-.625 2.855.06.583.17 1.263.574 2.05.274.533.341.617.355 1.01.022.595.027 1.153-.671 1.538-.697.383-1.564.508-2.403 1.088-.596.41-.709 1.033-.78 1.459l-.051.41c-.029.273.173.498.448.498h5.012c.457-.24.89-.402 1.259-.537zM5.064 15.096c.07-.427.184-1.05.78-1.46.838-.581 1.708-.706 2.404-1.089.699-.385.693-.943.672-1.537-.014-.393-.08-.477-.354-1.01-.406-.787-.515-1.467-.576-2.049-.093-.909.008-2.155.625-2.856.615-.7 1.398-.787 1.398-.787l.492-.055h.002l.496.055s.781.087 1.396.787c.615.701.72 1.947.623 2.855-.062.583-.172 1.262-.571 2.049-.271.533-.341.617-.354 1.01-.021.595-.062 1.22.637 1.604.697.385 1.604.527 2.438 1.104.923.641.822 1.783.822 1.783-.022.275-.269.5-.542.5h-9.991c-.275 0-.477-.223-.448-.496l.051-.408z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-entity-user-collection:active::before,.toolbar-icon-entity-user-collection.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23000000' d='M6.722 11.291l.451-.17-.165-.32c-.536-1.039-.685-1.934-.761-2.672-.082-.808-.144-2.831 1.053-4.189.244-.278.493-.493.743-.675.012-.826-.135-1.766-.646-2.345-.618-.7-1.4-.787-1.4-.787l-.497-.055-.498.055s-.783.087-1.398.787c-.617.702-.717 1.948-.625 2.855.06.583.17 1.263.574 2.05.274.533.341.617.355 1.01.022.595.027 1.153-.671 1.538-.697.383-1.564.508-2.403 1.088-.596.41-.709 1.033-.78 1.459l-.051.41c-.029.273.173.498.448.498h5.012c.457-.24.89-.402 1.259-.537zM5.064 15.096c.07-.427.184-1.05.78-1.46.838-.581 1.708-.706 2.404-1.089.699-.385.693-.943.672-1.537-.014-.393-.08-.477-.354-1.01-.406-.787-.515-1.467-.576-2.049-.093-.909.008-2.155.625-2.856.615-.7 1.398-.787 1.398-.787l.492-.055h.002l.496.055s.781.087 1.396.787c.615.701.72 1.947.623 2.855-.062.583-.172 1.262-.571 2.049-.271.533-.341.617-.354 1.01-.021.595-.062 1.22.637 1.604.697.385 1.604.527 2.438 1.104.923.641.822 1.783.822 1.783-.022.275-.269.5-.542.5h-9.991c-.275 0-.477-.223-.448-.496l.051-.408z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-system-modules-list::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M11.002 11v2.529c0 .275-.225.471-.5.471h-3c-.827 0-1.112-.754-.604-1.316l.81-.725c.509-.562.513-1.461-.097-2.01-.383-.344-1.027-.728-2.111-.728s-1.727.386-2.109.731c-.609.549-.606 1.45-.097 2.015l.808.717c.509.562.223 1.316-.602 1.316h-3c-.276 0-.5-.193-.5-.471v-9.029c0-.276.224-.5.5-.5h3c.825 0 1.111-.768.602-1.332l-.808-.73c-.51-.563-.513-1.465.097-2.014.382-.344 1.025-.731 2.109-.731s1.728.387 2.111.731c.608.548.606 1.45.097 2.014l-.81.73c-.509.564-.223 1.332.603 1.332h3c.274 0 .5.224.5.5v2.5c0 .825.642 1.111 1.233.602l.771-.808c.599-.51 1.547-.513 2.127.097.364.383.772 1.025.772 2.109s-.408 1.727-.771 2.109c-.58.604-1.529.604-2.127.097l-.77-.808c-.593-.509-1.234-.223-1.234.602z'/%3e%3c/svg%3e");}.toolbar-icon-system-modules-list:active::before,.toolbar-icon-system-modules-list.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23000000' d='M11.002 11v2.529c0 .275-.225.471-.5.471h-3c-.827 0-1.112-.754-.604-1.316l.81-.725c.509-.562.513-1.461-.097-2.01-.383-.344-1.027-.728-2.111-.728s-1.727.386-2.109.731c-.609.549-.606 1.45-.097 2.015l.808.717c.509.562.223 1.316-.602 1.316h-3c-.276 0-.5-.193-.5-.471v-9.029c0-.276.224-.5.5-.5h3c.825 0 1.111-.768.602-1.332l-.808-.73c-.51-.563-.513-1.465.097-2.014.382-.344 1.025-.731 2.109-.731s1.728.387 2.111.731c.608.548.606 1.45.097 2.014l-.81.73c-.509.564-.223 1.332.603 1.332h3c.274 0 .5.224.5.5v2.5c0 .825.642 1.111 1.233.602l.771-.808c.599-.51 1.547-.513 2.127.097.364.383.772 1.025.772 2.109s-.408 1.727-.771 2.109c-.58.604-1.529.604-2.127.097l-.77-.808c-.593-.509-1.234-.223-1.234.602z'/%3e%3c/svg%3e");}.toolbar-icon-system-admin-config::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M14.416 11.586l-.01-.008v-.001l-5.656-5.656c.15-.449.252-.921.252-1.421 0-2.485-2.016-4.5-4.502-4.5-.505 0-.981.102-1.434.255l2.431 2.431-.588 2.196-2.196.588-2.445-2.445c-.162.464-.268.956-.268 1.475 0 2.486 2.014 4.5 4.5 4.5.5 0 .972-.102 1.421-.251l5.667 5.665c.781.781 2.047.781 2.828 0s.781-2.047 0-2.828z'/%3e%3c/svg%3e");}.toolbar-icon-system-admin-config:active::before,.toolbar-icon-system-admin-config.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23000000' d='M14.416 11.586l-.01-.008v-.001l-5.656-5.656c.15-.449.252-.921.252-1.421 0-2.485-2.016-4.5-4.502-4.5-.505 0-.981.102-1.434.255l2.431 2.431-.588 2.196-2.196.588-2.445-2.445c-.162.464-.268.956-.268 1.475 0 2.486 2.014 4.5 4.5 4.5.5 0 .972-.102 1.421-.251l5.667 5.665c.781.781 2.047.781 2.828 0s.781-2.047 0-2.828z'/%3e%3c/svg%3e");}.toolbar-icon-system-admin-reports::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M4 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-4.25c0-.274.225-.5.5-.5h3c.275 0 .5.226.5.5v4.25zM10.002 13.529c0 .275-.225.5-.5.5h-3.002c-.275 0-.5-.225-.5-.5v-13c0-.275.225-.5.5-.5h3.002c.275 0 .5.225.5.5v13zM16.002 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-9.5c0-.275.225-.5.5-.5h3c.275 0 .5.225.5.5v9.5z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-system-admin-reports:active::before,.toolbar-icon-system-admin-reports.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23000000' d='M4 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-4.25c0-.274.225-.5.5-.5h3c.275 0 .5.226.5.5v4.25zM10.002 13.529c0 .275-.225.5-.5.5h-3.002c-.275 0-.5-.225-.5-.5v-13c0-.275.225-.5.5-.5h3.002c.275 0 .5.225.5.5v13zM16.002 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-9.5c0-.275.225-.5.5-.5h3c.275 0 .5.225.5.5v9.5z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar-icon-help-main::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3e%3c/svg%3e");}.toolbar-icon-help-main:active::before,.toolbar-icon-help-main.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23000000' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3e%3c/svg%3e");}@media only screen and (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{width:4em;margin-right:0;margin-left:0;padding-right:0;padding-left:0;text-indent:-624.9375rem;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{left:0;width:100%;background-size:42% auto;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{right:0;left:auto;}}@media only screen and (min-width:36em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{width:auto;padding-right:1.3333em;padding-left:2.75em;text-indent:0;background-position:left center;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{padding-right:2.75em;padding-left:1.3333em;background-position:right center;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{left:0.6667em;width:1.25rem;background-size:100% auto;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon::before{right:0.6667em;left:0;}}.toolbar-tab a:focus{-webkit-text-decoration:underline;text-decoration:underline;outline:none;}.toolbar-lining button:focus{outline:none;}.toolbar-tray-horizontal a:focus,.toolbar-box a:focus{outline:none;background-color:#f5f5f5;}.toolbar-box a:hover:focus{-webkit-text-decoration:underline;text-decoration:underline;}.toolbar .toolbar-icon.toolbar-handle:focus{outline:none;background-color:#f5f5f5;}.toolbar .toolbar-icon.toolbar-handle{width:4em;text-indent:-624.9375rem;}.toolbar .toolbar-icon.toolbar-handle::before{left:1.6667em;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle::before{right:1.6667em;left:auto;}.toolbar .toolbar-icon.toolbar-handle::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%235181C6' d='M8.002 1c-3.869 0-7.002 3.134-7.002 7s3.133 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm4.459 6.336l-4.105 4.105c-.196.189-.515.189-.708 0l-4.107-4.105c-.194-.194-.194-.513 0-.707l.977-.978c.194-.194.513-.194.707 0l2.422 2.421c.192.195.513.195.708 0l2.422-2.42c.188-.194.512-.194.707 0l.977.977c.193.194.193.513 0 .707z'/%3e%3c/svg%3e");}.toolbar .toolbar-icon.toolbar-handle.open::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M8.002 1c-3.867 0-7.002 3.134-7.002 7s3.135 7 7.002 7 7-3.134 7-7-3.133-7-7-7zm4.462 8.37l-.979.979c-.19.19-.516.19-.707 0l-2.422-2.419c-.196-.194-.515-.194-.708 0l-2.423 2.417c-.194.193-.513.193-.707 0l-.977-.976c-.194-.194-.194-.514 0-.707l4.106-4.106c.193-.194.515-.194.708 0l4.109 4.105c.19.192.19.513 0 .707z'/%3e%3c/svg%3e");}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%235181C6' d='M2.611 5.393c-.17-.216-.084-.393.191-.393h10.397c.275 0 .361.177.191.393l-5.08 6.464c-.17.216-.452.216-.622 0l-5.077-6.464z'/%3e%3c/svg%3e");background-size:75%;}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23787878' d='M13.391 10.607c.17.216.084.393-.191.393h-10.398c-.275 0-.361-.177-.191-.393l5.08-6.464c.17-.216.45-.216.62 0l5.08 6.464z'/%3e%3c/svg%3e");background-size:75%;}.toolbar .toolbar-icon-escape-admin::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M8.002 1c-3.868 0-7.002 3.133-7.002 7 0 3.865 3.134 7 7.002 7 3.865 0 7-3.135 7-7 0-3.867-3.135-7-7-7zm2.348 10.482l-.977.977c-.195.193-.514.193-.707 0l-4.108-4.105c-.194-.195-.194-.514 0-.708l4.108-4.105c.193-.194.512-.194.707 0l.979.977c.191.194.191.513 0 .707l-2.422 2.421c-.195.194-.195.515 0 .708l2.419 2.421c.196.19.196.512.001.707z'/%3e%3c/svg%3e");}[dir="rtl"] .toolbar .toolbar-icon-escape-admin::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M8.002 1c-3.868 0-7.002 3.135-7.002 7 0 3.867 3.134 7 7.002 7 3.865 0 7-3.133 7-7 0-3.865-3.135-7-7-7zm3.441 7.357l-4.106 4.104c-.194.191-.514.191-.708 0l-.978-.979c-.194-.193-.194-.518 0-.707l2.423-2.421c.195-.195.195-.514 0-.708l-2.422-2.421c-.194-.194-.194-.513 0-.707l.977-.977c.194-.194.514-.194.708 0l4.106 4.108c.191.194.191.515 0 .708z'/%3e%3c/svg%3e");}.toolbar .toolbar-toggle-orientation button{width:2.4375rem;height:2.4375rem;padding:0;text-indent:-999em;}.toolbar .toolbar-toggle-orientation button::before{right:0;left:0;margin:0 auto;}[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon{padding:0;}.toolbar .toolbar-toggle-orientation [value="vertical"]::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M2.5 2h-2.491v12.029h2.491c.276 0 .5-.225.5-.5v-11.029c0-.276-.224-.5-.5-.5zM14.502 6.029h-4c-.275 0-.5-.225-.5-.5v-1c0-.275-.16-.341-.354-.146l-3.294 3.292c-.194.194-.194.513 0 .708l3.294 3.293c.188.193.354.129.354-.146v-1c0-.271.227-.5.5-.5h4c.275 0 .5-.225.5-.5v-3c0-.276-.225-.501-.5-.501z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar .toolbar-toggle-orientation [value="vertical"]:hover::before,.toolbar .toolbar-toggle-orientation [value="vertical"]:focus::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M2.5 2h-2.491v12.029h2.491c.276 0 .5-.225.5-.5v-11.029c0-.276-.224-.5-.5-.5zM14.502 6.029h-4c-.275 0-.5-.225-.5-.5v-1c0-.275-.16-.341-.354-.146l-3.294 3.292c-.194.194-.194.513 0 .708l3.294 3.293c.188.193.354.129.354-.146v-1c0-.271.227-.5.5-.5h4c.275 0 .5-.225.5-.5v-3c0-.276-.225-.501-.5-.501z'/%3e%3c/g%3e%3c/svg%3e");}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M13.51 2c-.275 0-.5.224-.5.5v11.029c0 .275.225.5.5.5h2.492v-12.029h-2.492zM6.362 4.382c-.194-.194-.353-.128-.353.147v1c0 .275-.225.5-.5.5h-4c-.275 0-.5.225-.5.5v3c0 .271.225.5.5.5h4c.275 0 .5.225.5.5v1c0 .271.159.34.354.146l3.295-3.293c.193-.194.193-.513 0-.708l-3.296-3.292z'/%3e%3c/g%3e%3c/svg%3e");}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover::before,[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M13.51 2c-.275 0-.5.224-.5.5v11.029c0 .275.225.5.5.5h2.492v-12.029h-2.492zM6.362 4.382c-.194-.194-.353-.128-.353.147v1c0 .275-.225.5-.5.5h-4c-.275 0-.5.225-.5.5v3c0 .271.225.5.5.5h4c.275 0 .5.225.5.5v1c0 .271.159.34.354.146l3.295-3.293c.193-.194.193-.513 0-.708l-3.296-3.292z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar .toolbar-toggle-orientation [value="horizontal"]::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M1.986.019v2.491c0 .276.225.5.5.5h11.032c.275 0 .5-.224.5-.5v-2.491h-12.032zM8.342 6.334c-.193-.194-.513-.194-.708 0l-3.294 3.293c-.194.195-.129.353.146.353h1c.275 0 .5.227.5.5v4.02c0 .275.225.5.5.5h3.002c.271 0 .5-.225.5-.5v-4.02c0-.274.225-.5.5-.5h1c.271 0 .34-.158.145-.354l-3.291-3.292z'/%3e%3c/g%3e%3c/svg%3e");}.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover::before,.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23787878' d='M1.986.019v2.491c0 .276.225.5.5.5h11.032c.275 0 .5-.224.5-.5v-2.491h-12.032zM8.342 6.334c-.193-.194-.513-.194-.708 0l-3.294 3.293c-.194.195-.129.353.146.353h1c.275 0 .5.227.5.5v4.02c0 .275.225.5.5.5h3.002c.271 0 .5-.225.5-.5v-4.02c0-.274.225-.5.5-.5h1c.271 0 .34-.158.145-.354l-3.291-3.292z'/%3e%3c/g%3e%3c/svg%3e");}
#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab{display:none;}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab.visible{display:block;width:100%;}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab .js-form-item.form-item{margin:0.75rem 0;padding-left:1rem;padding-right:1rem;}#admin-toolbar-mobile-search-tab .toolbar-item::before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/bebebe/loupe.svg);}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab #admin-toolbar-search-input{width:100%;}@media only screen and (min-width:769px){#admin-toolbar-mobile-search-tab{display:none;}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab{display:block;}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab.visible{width:auto;}#admin-toolbar-mobile-search-tab ~ #admin-toolbar-search-tab .js-form-item.form-item{margin-top:0.3rem;margin-bottom:0;}}#admin-toolbar-search-input{min-height:30px;height:100%;padding:0 0.4rem;line-height:1.75rem;margin:0;color:#3b3b3b;background:#fcfcfa;border:1px solid #ccc;border-radius:unset;font-size:1em;}.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url{display:none;}.admin-toolbar-search-autocomplete-list{max-height:300px;overflow-y:scroll;}.admin-toolbar-search-autocomplete-list .ui-menu-item .ui-state-active{margin:0;}.admin-toolbar-search-autocomplete-list .ui-menu-item .ui-menu-item-wrapper{border:1px solid transparent;padding:3px 1em 3px 0.4em;}.admin-toolbar-search-autocomplete-list .ui-menu-item a{text-decoration:none;}.admin-toolbar-search-autocomplete-list .ui-menu-item .ui-state-active:hover a,.admin-toolbar-search-autocomplete-list .ui-menu-item .ui-state-active a{color:white;}#toolbar-item-administration-search-tray label{display:inline-block;color:#000000;margin-right:.5em;font-weight:bold;}#toolbar-item-administration-search-tray div.form-item{margin:0.75em;}#toolbar-item-administration-search-tray input{display:inline-block;padding:0.3em 0.4em 0.3em 0.5em;font-size:1em;}#admin-toolbar-search-tab .toolbar-item:before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/bebebe/loupe.svg);}#admin-toolbar-search-tab .toolbar-item:active:before,#admin-toolbar-search-tab .toolbar-item.is-active:before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/ffffff/loupe.svg);}#toolbar-item-administration-search-tray div.form-item.js-form-type-textfield{margin:0.75em 0;}
.toolbar-bar .toolbar-icon-user::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23bebebe' d='M1 15c-.275 0-.498-.225-.496-.5 0 0 .007-.746 1.071-1.512 1.138-.818 2.347-.969 3.308-1.498s.954-1.299.925-2.115c-.019-.543-.112-.657-.489-1.392-.556-1.084-.709-2.021-.791-2.823-.127-1.252.011-3.035.86-4.001.847-.964 2.114-1.104 2.114-1.104l.5-.055.498.055s1.266.14 2.113 1.104c.85.966.988 2.75.859 4.001-.08.802-.234 1.739-.791 2.823-.377.734-.476.849-.488 1.392-.029.816-.035 1.586.926 2.115s2.17.68 3.307 1.498c1.064.766 1.072 1.512 1.072 1.512.002.275-.221.5-.496.5h-14.002z'/%3e%3c/svg%3e");}.toolbar-bar .toolbar-icon-user:active::before,.toolbar-bar .toolbar-icon-user.is-active::before{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath fill='%23ffffff' d='M1 15c-.275 0-.498-.225-.496-.5 0 0 .007-.746 1.071-1.512 1.138-.818 2.347-.969 3.308-1.498s.954-1.299.925-2.115c-.019-.543-.112-.657-.489-1.392-.556-1.084-.709-2.021-.791-2.823-.127-1.252.011-3.035.86-4.001.847-.964 2.114-1.104 2.114-1.104l.5-.055.498.055s1.266.14 2.113 1.104c.85.966.988 2.75.859 4.001-.08.802-.234 1.739-.791 2.823-.377.734-.476.849-.488 1.392-.029.816-.035 1.586.926 2.115s2.17.68 3.307 1.498c1.064.766 1.072 1.512 1.072 1.512.002.275-.221.5-.496.5h-14.002z'/%3e%3c/svg%3e");}
.toolbar-icon-admin-toolbar-tools-help{text-indent:-9999px;}.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before,.toolbar-icon-10 .toolbar-icon-admin-toolbar-tools-help:before{box-sizing:content-box;background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-9-logo.svg);padding-bottom:0;padding-left:2px;padding-right:2px;padding-top:2px;margin-left:4px;}.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:active:before,.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help.active:before,.toolbar-icon-10 .toolbar-icon-admin-toolbar-tools-help:active:before,.toolbar-icon-10 .toolbar-icon-admin-toolbar-tools-help.active:before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-9-logo.svg);}.toolbar-icon-8 .toolbar-icon-admin-toolbar-tools-help:before{box-sizing:content-box;background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-8-logo.svg);padding-bottom:0;padding-left:4px;padding-right:8px;padding-top:2px;}.toolbar-icon-8 .toolbar-icon-admin-toolbar-tools-help:active:before,.toolbar-icon-8 .toolbar-icon-admin-toolbar-tools-help.active:before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-8-logo.svg);}.toolbar-oriented .toolbar-bar .local-tasks-toolbar-tab{float:right;}.toolbar-horizontal .local-tasks-toolbar-tab .toolbar-menu{float:right;}.toolbar-bar .toolbar-icon-local-tasks:before{background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/bebebe/tasks.svg);}
.toolbar-tray-horizontal .menu-item:hover{background:#fff;}.toolbar-tray-horizontal .menu-item a:focus{background:#abeae4;}.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus{background-position:center right;background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal .menu-item--expanded .menu{background:#fff;width:auto;height:auto;}.toolbar-tray-horizontal .menu-item--expanded{background-color:#f5f5f2;}.toolbar-tray-horizontal ul li li.menu-item{border-top:none transparent;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;}.toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:1px solid #ddd;border-right:1px solid #ddd;}.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #ddd;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul{display:none;left:-999em;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul{display:block;left:auto;}.toolbar-tray-horizontal .menu ul li a,.toolbar-tray-horizontal .menu ul .toolbar-icon{padding:12px 15px 12px 12px;}.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul{display:block;position:absolute;width:200px;box-shadow:2px 2px 3px hsla(0,0%,0%,0.4);z-index:1;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul{display:none;}.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center right;background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{display:block;margin:-40px 0 0 197px;}.toolbar-tray-horizontal li:hover ul li{float:none;}.toolbar-tray-horizontal li.hover-intent ul li{float:none;}.toolbar-tray-horizontal .toolbar .level-2 > ul{position:absolute;padding-top:0;top:0;left:200px;width:200px;}.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix{display:block;}.toolbar-menu  .menu-item > span{padding:1em 1.3333em;display:block;color:#434343;cursor:pointer;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center left;background-image:url(/scste-drupal-new/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-left.svg);}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{margin:-40px 197px 0 0;}[dir="rtl"] .toolbar-tray-horizontal li:hover ul li{float:none;}[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li{float:none;}
