/* @license MIT https://raw.githubusercontent.com/necolas/normalize.css/8.0.1/LICENSE.md */
html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em 0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}fieldset{padding:0.35em 0.75em 0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}
/* @license GNU-GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;-ms-filter:"alpha(opacity=0)";}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default;}
.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:0;}.ui-menu .ui-menu{position:absolute;}.ui-menu .ui-menu-item{margin:0;cursor:pointer;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");}.ui-menu .ui-menu-item-wrapper{position:relative;padding:3px 1em 3px .4em;}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0;}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px;}.ui-menu-icons{position:relative;}.ui-menu-icons .ui-menu-item-wrapper{padding-left:2em;}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0;}.ui-menu .ui-menu-icon{left:auto;right:0;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/scste-drupal-new/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/scste-drupal-new/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/scste-drupal-new/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/scste-drupal-new/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/scste-drupal-new/core/misc/tree.png) no-repeat -11px center;}
.ajax-progress{display:inline-block;}.ajax-progress-bar{width:13em;padding:0 0.3125rem;}.ajax-progress--throbber{position:relative;display:inline-flex;align-content:center;height:1.125rem;margin:-0.1875rem var(--ajax-progress-margin-horizontal) 0;vertical-align:middle;white-space:nowrap;line-height:1.125rem;}.js .button:not(.js-hide) + .ajax-progress--throbber{margin-inline-start:0;}.js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,.js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber{margin-inline-start:var(--ajax-progress-margin-horizontal);}.ajax-progress__throbber{box-sizing:border-box;width:1.125rem;height:1.125rem;animation:claro-throbber 0.75s linear infinite;border:2px solid var(--color-absolutezero);border-right:2px dotted transparent;border-radius:50%;}.ajax-progress__message{display:inline-block;padding-inline-start:var(--ajax-progress-margin-horizontal);font-size:var(--font-size-label);}.ajax-progress--fullscreen,.ui-dialog .ajax-progress--throbber{position:fixed;z-index:1261;inset-block-start:50%;inset-inline-start:50%;box-sizing:border-box;width:3.5rem;height:3.5rem;margin:-1.75rem;border:var(--input-border-size) solid var(--jui-dropdown-border-color);border-radius:3.5rem;background:var(--color-white);box-shadow:0 0.25rem 0.625rem var(--jui-dropdown-shadow-color);}.ajax-progress__throbber--fullscreen,.ui-dialog .ajax-progress__throbber{position:absolute;inset-block-start:50%;inset-inline-start:50%;width:1.75rem;height:1.75rem;margin:-0.875rem;content:"";border:3px solid var(--color-absolutezero);border-right:3px dotted transparent;}.ui-dialog .ajax-progress__message{display:none;}@keyframes claro-throbber{0%{transform:rotateZ(0);}100%{transform:rotateZ(360deg);}}
.js .form-autocomplete{background-image:url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1C3.46.827-.188 5.787 1.313 10.068c1.176 4.384 6.993 6.417 10.637 3.7.326-.39.565.276.846.442l3.74 3.739 1.413-1.414-4.35-4.35c2.811-3.468 1.15-9.247-3.062-10.71A7.003 7.003 0 008 1zm0 2c3.242-.123 5.849 3.42 4.777 6.477-.842 3.132-4.994 4.58-7.6 2.65-2.745-1.73-2.9-6.125-.285-8.044A5.006 5.006 0 018 3z' fill='%23868686'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:100% 50%;}.js[dir="rtl"] .form-autocomplete{background-image:url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1c4.54-.173 8.188 4.787 6.687 9.068-1.176 4.384-6.993 6.417-10.637 3.7-.326-.39-.565.276-.846.442l-3.74 3.739-1.413-1.414 4.35-4.35C3.59 8.717 5.25 2.938 9.462 1.475A7.003 7.003 0 0112 1zm0 2c-3.242-.123-5.849 3.42-4.777 6.477.842 3.132 4.994 4.58 7.6 2.65 2.745-1.73 2.9-6.125.285-8.044A5.006 5.006 0 0012 3z' fill='%23868686'/%3e%3c/svg%3e");background-position:0 50%;}.js .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3e%3cstyle%3e%40keyframes s%7b0%25%7btransform:rotate(0deg) translate(-50%25,0)%7d50%25%7btransform:rotate(430deg) translate(-50%25,0);stroke-dashoffset:20%7dto%7btransform:rotate(720deg) translate(-50%25,0)%7d%7d%3c/style%3e%3ccircle fill='none' cy='5' cx='5' stroke='%23003ecc' stroke-dashoffset='6.125' stroke-dasharray='25' style='animation:s 1s linear infinite;transform-origin:left' r='4'/%3e%3c/svg%3e");background-position:center right -10px;}.js[dir="rtl"] .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3e%3cstyle%3e%40keyframes s%7b0%25%7btransform:rotate(0deg) translate(-50%25,0)%7d50%25%7btransform:rotate(-430deg) translate(-50%25,0);stroke-dashoffset:20%7dto%7btransform:rotate(-720deg) translate(-50%25,0)%7d%7d%3c/style%3e%3ccircle fill='none' cy='5' cx='5' stroke='%23003ecc' stroke-dashoffset='6.125' stroke-dasharray='25' style='animation:s 1s linear infinite;transform-origin:left' r='4'/%3e%3c/svg%3e");background-position:center left 10px;}.claro-autocomplete{position:relative;display:inline-block;max-width:100%;}.claro-autocomplete__message{position:absolute;right:0;bottom:100%;max-width:100%;margin-bottom:0.15rem;color:var(--color-link);font-size:var(--font-size-xxs);font-weight:bold;line-height:calc(18rem / 16);}[dir="rtl"] .claro-autocomplete__message{right:auto;left:0;}
:root{--table-row--dragging-bg-color:#fe7;--table-row--last-dragged-bg-color:#ffb;}body.drag{cursor:move;}.region-title{font-weight:bold;}.region-message{color:var(--color-gray-600);}.region-message.region-populated{display:none;}.tabledrag-changed.tabledrag-changed{border-bottom:none;}.add-new .tabledrag-changed{display:none;}.draggable .tabledrag-changed{position:relative;left:calc(var(--space-xs) * -1);}[dir="rtl"] .draggable .tabledrag-changed{right:calc(var(--space-xs) * -1);left:auto;}.tabledrag-cell--only-drag .tabledrag-changed{width:var(--space-l);min-width:var(--space-l);}.draggable.drag,.draggable.drag:focus{background-color:var(--table-row--dragging-bg-color);}.draggable.drag-previous{background-color:var(--table-row--last-dragged-bg-color);}.draggable-table td:first-child ~ td,.draggable-table th:first-child ~ th{padding-left:0;}[dir="rtl"] .draggable-table td:first-child ~ td,[dir="rtl"] .draggable-table th:first-child ~ th{padding-right:0;padding-left:var(--space-m);}.draggable td .form-element--type-select[name$="][_weight]"],.draggable td .term-weight,.draggable td .field-weight{width:auto;}.tabledrag-handle{position:relative;z-index:1;overflow:visible;cursor:move;text-align:center;vertical-align:text-top;}.tabledrag-handle::after{display:inline-block;width:var(--tabledrag-handle-icon-size);height:var(--tabledrag-handle-icon-size);margin-left:calc(var(--space-m) * -1);padding:var(--space-xs) var(--space-m);content:"";transition:transform 0.1s ease-in-out 0s;background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e") no-repeat center;}[dir="rtl"] .tabledrag-handle::after{margin-right:calc(var(--space-m) * -1);margin-left:0;}@media (forced-colors:active){.tabledrag-handle::after{content:"";background:linktext;-webkit-mask-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3e%3cpath fill='%23000f33' d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:center;}}.tabledrag-handle::after,.tabledrag-disabled .tabledrag-handle.tabledrag-handle.tabledrag-handle::after{transform:scale(1);}.tabledrag-handle:hover::after,.tabledrag-handle:focus::after,.draggable.drag .tabledrag-handle::after{transform:scale(1.25);}.tabledrag-handle:focus{outline:none !important;box-shadow:none !important;}.tabledrag-handle:focus::before{display:block;width:calc(var(--space-m) + (var(--space-xs) * 2));height:calc(var(--space-m) + (var(--space-xs) * 2));margin:0 calc(var(--space-xs) * -1) calc((var(--space-m) + (var(--space-xs) * 2)) * -1);content:"";border-radius:var(--base-border-radius);outline:var(--outline-size) dotted transparent;box-shadow:0 0 0 var(--focus-border-size) var(--color-focus);}.tabledrag-disabled .tabledrag-handle{cursor:default;opacity:0.4;}.tabledrag-disabled .tabledrag-handle.tabledrag-handle::before{content:normal;}.touchevents .tabledrag-handle::after{padding-top:var(--space-s);padding-bottom:var(--space-s);}.touchevents .draggable .menu-item__link{padding-top:var(--space-xs);padding-bottom:var(--space-xs);}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.draggable-table .tabledrag-toggle-weight-wrapper{display:none;}.tabledrag-cell{padding-top:0;padding-bottom:0;}.tabledrag-cell--only-drag{width:1px;padding-right:0;}[dir="rtl"] .tabledrag-cell--only-drag{padding-right:var(--space-m);padding-left:0;}.tabledrag-cell-content{display:table;height:100%;}.tabledrag-cell-content > *{display:table-cell;vertical-align:middle;}.tabledrag-cell-content__item{padding-right:var(--space-xs);}[dir="rtl"] .tabledrag-cell-content__item{padding-right:0;padding-left:var(--space-xs);}.tabledrag-cell-content__item:empty{display:none;}.tabledrag-cell-content .indentation,[dir="rtl"] .tabledrag-cell-content .indentation{float:none;overflow:hidden;height:100%;}.tabledrag-cell-content .tree{min-height:100%;}@media not all and (-webkit-min-device-pixel-ratio:0),not all and (min-resolution:0.001dpcm){@supports (-webkit-appearance:none){.tabledrag-cell-content .tree{overflow:visible;min-height:0;}}}.tabledrag-cell-content .tabledrag-handle::after{vertical-align:middle;}.indentation{background:none !important;}.indentation{position:relative;left:calc(var(--space-xs) * -0.5);float:left;width:calc(25rem / 16);height:calc(25rem / 16);line-height:0;}[dir="rtl"] .indentation{right:calc(var(--space-xs) * -0.5);left:auto;float:right;}.tree{width:calc(25rem / 16);height:calc(25rem / 16);}.tree__item{display:none;}.tree-child path:not(.tree__item-child-ltr){display:none;}.tree-child path.tree__item-child-ltr{display:block;}[dir="rtl"] .tree-child path:not(.tree__item-child-rtl){display:none;}[dir="rtl"] .tree-child path.tree__item-child-rtl{display:block;}.tree-child-last path:not(.tree__item-child-last-ltr){display:none;}.tree-child-last path.tree__item-child-last-ltr{display:block;}[dir="rtl"] .tree-child-last path:not(.tree__item-child-last-rtl){display:none;}[dir="rtl"] .tree-child-last path.tree__item-child-last-rtl{display:block;}.tree-child-horizontal path:not(.tree__item-horizontal){display:none;}.tree-child-horizontal path.tree__item-horizontal{display:block;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.webform-message--close .messages{position:relative;padding-right:35px;}.webform-message--close .webform-message__link{display:none;}html.js .webform-message--close .webform-message__link{position:absolute;top:11px;right:10px;display:block;font-size:24px;line-height:24px;}html[dir="rtl"].js .webform-message--close .webform-message__link{top:11px;right:inherit;left:10px;}.webform-message__link{opacity:0.33;color:inherit;}.webform-message__link:link{text-decoration:none;border-bottom:none;}.webform-message__link:hover,.webform-message__link:focus,.webform-message__link:active{text-decoration:none;opacity:1;color:inherit;border-bottom:none;}html.js .js-webform-message--close-storage{display:none;}.js-webform-message--close .button--dismiss{display:none;}
.webform-details-toggle-state-wrapper{text-align:right;margin-top:1em;}[dir="rtl"] .webform-details-toggle-state-wrapper{text-align:left;}.webform-details-toggle-state-wrapper + details{margin-top:0;}.webform-details-toggle-state{margin-top:0;padding:0;cursor:pointer;border:0;background:transparent;font-size:1em;text-decoration:none;color:#337ab7;}.webform-details-toggle-state:hover,.webform-details-toggle-statelink:focus{text-decoration:underline;}.webform-tabs .webform-details-toggle-state-wrapper{float:right;}@media screen and (max-width:600px){.webform-tabs .webform-details-toggle-state-wrapper{float:none;}}
